# dependencies
/node_modules
.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem
*.key

# logs and debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# tests
coverage/
test-results/
playwright-report/

# local env files (keep only the example)
.env
.env.*
!.env.example

# prisma
/prisma/*.db

# typescript
*.tsbuildinfo

# docker
/docker/volumes

# editors
.vscode/*
!.vscode/extensions.json
.idea